.light,
.dark {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.light.animated .MuiPaper-root:not(.opaque) {
    /* background-color: #1E1F27AA !important; */
    background-color: #ffffff33 !important;

    backdrop-filter: blur(6px);
}

.dark.animated .MuiPaper-root,
.dark.animated.MuiPaper-root {
    background-color: #1e1f27 !important;
    /* background-color: #FFFFFF33 !important; */

    backdrop-filter: blur(6px);
}
.dark.animated .MuiPaper-root:not(.opaque),
.dark.animated.MuiPaper-root:not(.opaque) {
    background-color: #1e1f2733 !important;
    /* background-color: #FFFFFF33 !important; */

    backdrop-filter: blur(6px);
}

.MuiCard-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
